*{
    font-family: "Arial";
    padding: 0px;
    margin: 0px;
}

.background{
    background-image: url("assets/bgwh.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/*HEADER*/
header{
    position: sticky; top: 0px;
    height: 15vh;
    width: 100vw;
    align-content: end;
}

.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.navlinks{
    height: 6.5vh;
}

.menulinks:hover, .navlinks:hover {
    transform: scale(1.1);
}

/*ABOUTPAGINA*/
.mainabout{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    height: calc(100vh - 15vh);
}

.aboutsection{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 2% 2% 2%;
    height: calc(100vh - 20vh);
}
.me{
    height: 38.5vh;
}

.index{
    height: 38.5vh;
}

.right{
    display: flex;
    flex: 1;
    margin: 2% 2% 2% 0;
    height: calc(100vh - 20vh);
}

.cv{
    height: 80vh;
    overflow: scroll;
}

.text{
    color: white;
    font-size: 1rem;
    padding: 5%;
}

/*CONTACTPAGINA*/
.maincontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: calc(100vh - 15vh);
}

.contactsection{
    margin: 10px;
    height: 40vh;
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.contactlinks{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.contacttitle{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.form{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin: 1%;*/
}

.name,.email,.message,.button{
    /*border-radius: 2px;*/
    /*margin: 5px;*/
}

.message{
    /*height: 33vh;*/
}

.button{
    width: 20%;
    height: 3vh;
}

.socials{
    height: 100px;
    width: auto;
    filter: invert(1);
}

/*OVERIG*/

.darkmode{
    filter: brightness(0.6);
}

